.alert {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  transform: translate(0); // disable margin weirdness

  &__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  &__text {
    margin-bottom: -1rem;
  }
}
