.site-alerts {
  bottom: 0;
  left: 1rem;
  margin-right: 1rem;
  position: fixed;
  z-index: 100000;

  &__alert {
    box-shadow: 1px 1px 2px var(--border);
    position: relative;

    .js & {
      animation: site-alerts-slide 0.5s ease-in;
    }

    .no-js & {
      animation: site-alerts-slide-no-js 10s ease-in forwards;
    }
  }

  &__dismiss {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .js & {
      cursor: pointer;
    }

    .no-js & {
      display: none;
    }
  }
}

@keyframes site-alerts-slide {
  from {
    transform: translateX(calc(-100% - 1rem));
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes site-alerts-slide-no-js {
  0%, 100% {
    transform: translateX(calc(-100% - 1rem - 2px));
  }

  5%, 95% {
    transform: translateX(0%);
  }
}
