{% extends 'forum/base.html.twig' %}
{% from 'comment/_macros.html.twig' import comment %}
{% from 'forum/_macros.html.twig' import forum_return_nav %}
{% from 'submission/_macros.html.twig' import submission %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', { pager: trash }, with_context=false) }}
{% endblock head %}

{% block title 'nav.trash'|trans %}

{% block body %}
  {{ forum_return_nav(forum) }}
  <h1>{{ block('title') }}</h1>

  {% for item in trash %}
    {% if item.title is defined %}
      {{ submission(item) }}
    {% else %}
      {{ comment(item, { show_context: true, show_trashed: true }) }}
    {% endif %}
  {% else %}
    <p class="fg-muted no-margin"><small class="text-md">{{ 'flash.no_entries_to_display'|trans }}</small></p>
  {% endfor %}

  {{ include('_includes/pagination.html.twig', { pager: trash }, with_context=false) }}
{% endblock body %}
